<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
 <add name="SQLConnectionString" connectionString="Data Source=10.10.27.202;user id=mcweb;password=mC8ml@His8b;initial catalog=MicroclearLight_Apr2019_2; Max Pool Size=1000" providerName="System.Data.SqlClient" />
  
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <connectionStrings>
    <!--last Used is this 
    <add name="DefaultConnection" connectionString="Data Source=10.10.27.202;user id=mcweb;password=mC8ml@His8b;initial catalog=MicroclearETrade_2018; Max Pool Size=1000" providerName="System.Data.SqlClient" />
   <add name="SQLConnectionString" connectionString="Data Source=10.10.27.202;user id=mcweb;password=mC8ml@His8b;initial catalog=MicroclearETrade_2018; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
    <!--
      <add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=ccduserdev;password=ccduserdev;initial catalog=MCKWFX5_HYDESERV_2; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=ccduserdev;password=ccduserdev;initial catalog=MCKWFX5_HYDESERV_2; Max Pool Size=1000" providerName="System.Data.SqlClient" />
  -->
    <!-- <add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=MicroclearLight_July19; Max Pool Size=1000" providerName="System.Data.SqlClient" />   -->
    <!-- <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=MicroclearLight_July19; Max Pool Size=1000" providerName="System.Data.SqlClient" /> -->
    <!--<add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=ccduserdev;password=ccduserdev;initial catalog=mckwlight_aug19; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=ccduserdev;password=ccduserdev;initial catalog=mckwlight_aug19; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=mcweb;password=mcweb;initial catalog=mckwlight_aug19; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=mcweb;password=mcweb;initial catalog=mckwlight_aug19; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=mckwlight_aug19; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=mckwlight_aug19; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=MicroclearLight_Feb2020; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=MicroclearLight_Feb2020; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=10.10.127.151;user id=sanew;password=sanew;initial catalog=MicroclearLight_Feb2020; Max Pool Size=1000" providerName="System.Data.SqlClient"/>
    <add name="SQLConnectionString" connectionString="Data Source=10.10.127.151;user id=sanew;password=sanew;initial catalog=MicroclearLight_Feb2020; Max Pool Size=1000" providerName="System.Data.SqlClient"/>
    <!-- <add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=MicroclearLight_Apr20_Batch04; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=MicroclearLight_Apr20_Batch04; Max Pool Size=1000" providerName="System.Data.SqlClient" /> -->
    <!--<add name="conStr" connectionString="Data Source=10.10.127.151;user id=mcweb;password=mcweb;initial catalog=MCKWFX5IIDPV_2016;Connect Timeout=1200" />-->
    <add name="conStr" connectionString="Data Source=10.10.127.151;user id=mcweb;password=mcweb;initial catalog=MCKWLight_AUG19_2;Connect Timeout=1200"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=Mckwlight_Aug2019_3; Max Pool Size=1000" providerName="System.Data.SqlClient" />
    <add name="SQLConnectionString" connectionString="Data Source=KCA3DV11;user id=sanew;password=sanew;initial catalog=Mckwlight_Aug2019_3; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=10.10.27.201;User Id=mcweb;Password=mcweb;initial catalog=MicroclearETrade_2018; Max Pool Size=1000" providerName="System.Data.SqlClient"  />-->
    <!--<add name="SQLConnectionString" connectionString="Data Source=10.10.27.201;User Id=mcweb;Password=mcweb;initial catalog=MicroclearETrade_2018; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=KW0RRAJAGOPAL\SQLDEMO;User Id=Afawzi;Password=023069;initial catalog=MicroclearETrade_2018; Max Pool Size=1000" providerName="System.Data.SqlClient"  />
    <add name="SQLConnectionString" connectionString="Data Source=KW0RRAJAGOPAL\SQLDEMO;User Id=Afawzi;Password=023069;initial catalog=MicroclearETrade_2018; Max Pool Size=1000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="FreeServiceredirecturl" value="http://10.10.26.226/eServiceprod/Request/RequestDetailsfortheRequest?EServiceRequestNumber="/>-->
    <!--<add key="FreeServiceredirecturl" value="http://10.10.26.226/eServiceProdV2PP/Request/RequestDetailsfortheRequest?EServiceRequestNumber="/>-->
    <add key="FreeServiceredirecturl" value="http://10.10.26.226/esOnePP/Request/RequestDetailsfortheRequest?EServiceRequestNumber="/>
    <!--<add key="FreeServiceredirecturl" value="http://localhost:58449/Request/RequestDetailsfortheRequest?EServiceRequestNumber="/>-->
    <!--<add key="FreeServiceredirecturl" value="https://eservices.kgac.gov.kw/Request/RequestDetailsfortheRequest?EServiceRequestNumber="/>-->
    <add key="DocsShareServer" value="\\10.10.65.3\kgac_upload_dd_test"/>
    <!--<add key="DocsShareServer" value="\\192.168.1.90\c$\kgac_upload_dd_test" />-->
    <add key="EnableSendingMail" value="Y"/>
    <!--Y - Enable and  N - Disable-->
    <!--<add key="ExchangeServer" value="10.201.34.252" />-->
    <add key="ExchangeServer" value="10.10.165.13"/>
    <add key="FromEmail" value="Customs@Customs.com"/>
    <add key="FromPassword" value="IHLAo17/XN8FlAf36n/V+6aeoRBLDLY7"/>
    <add key="UploadAccessImpersinationRequired" value="Y"/>
    <add key="UploadAccessUserId" value="SVC_CSMaqasaDocnew"/>
    <add key="UploadAccessDomainName" value="KGACHQ"/>
    <add key="UploadAccessPassword" value="MKjuOI9MZWxxD/StmFdCWqOCX+bngatC"/>
    <!--<add key="UploadAccessImpersinationRequired" value="Y" />
    <add key="UploadAccessUserId" value="SVC_CSMaqasaDocnew" />
    <add key="UploadAccessDomainName" value="KGACHQ" />
    <add key="UploadAccessPassword" value="MKjuOI9MZWxxD/StmFdCWqOCX+bngatC" />-->
    <!--  SMS Setting starts -->
    <add key="UserName" value="Global"/>
    <add key="Password" value="GCS_R*SMS1N0_Ytx"/>
    <add key="CustomerID" value="1396"/>
    <add key="SenderText" value="SMSBOX.COM"/>
    <add key="IsBlink" value="false"/>
    <add key="IsFlash" value="false"/>
    <add key="AllowLogging" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- SMS Setting ends -->
    <add key="BrokerRenewalPrefix" value="LR"/>
    <add key="ExamRequestReference" value="BRSExamDOCS"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <!--<add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />-->
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />-->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <remove name="X-Powered-By"/>
        <remove name="x-aspnet-version"/>
        <remove name="server"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=yyyy-MM-dd}-api.log"/>
      <!--<target name="eventlog"
              layout="{${newline}
              &quot;Logger&quot;: &quot;${logger}&quot;,${newline}
              &quot;StackTrace&quot;: &quot;${stacktrace}&quot;,${newline}
              &quot;Message&quot;: &quot;${message}&quot;,${newline}
              &quot;Exception&quot;: &quot;${exception:format=ToString,Data}&quot;${newline}}"
              machineName="."   
              log="Application"
              source="Etrade Api Services" 
              eventId="${event-properties:EventID:whenEmpty=0}" />-->
      <target xsi:type="Database" name="dbTarget" connectionStringName="DefaultConnection" commandText="exec [etrade].[Usp_MApp_sLogEvent_Insert] &#xA;                                     @EventLevel&#xA;                                    ,@LoggerName&#xA;                                    ,@UserId&#xA;                                    ,@Controller&#xA;                                    ,@Action&#xA;                                    ,@Url&#xA;                                    ,@MachineName&#xA;                                    ,@SessionId&#xA;                                    ,@ThreadId&#xA;                                    ,@UserAgent&#xA;                                    ,@BrowserIp&#xA;                                    ,@LogMessage&#xA;                                    ,@geoLocation&#xA;                                    ,@deviceType&#xA;                                    ,@requestDatetime">
        <!--<parameter name="@LogDate" layout="${date}" />-->
        <parameter name="@EventLevel" layout="${level}"/>
        <parameter name="@LoggerName" layout="${logger}"/>
        <parameter name="@UserId" layout="${event-properties:item=UserId}"/>
        <parameter name="@Controller" layout="${event-properties:item=Controller}"/>
        <parameter name="@Action" layout="${event-properties:Action}"/>
        <parameter name="@Url" layout="${event-properties:item=url}"/>
        <parameter name="@MachineName" layout="${machinename}"/>
        <parameter name="@SessionId" layout="${event-properties:item=TokenId}"/>
        <parameter name="@ThreadId" layout="${threadid}"/>
        <!--<parameter name="@referrer"
            layout="${aspnet-request:serverVariable=HTTP_REFERER}" />-->
        <parameter name="@UserAgent" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}"/>
        <parameter name="@BrowserIp" layout="${event-properties:item=browserIp}"/>
        <parameter name="@LogMessage" layout="${message}"/>
        <parameter name="@geoLocation" layout="${event-properties:item=geoLocation}"/>
        <parameter name="@deviceType" layout="${event-properties:item=deviceType}"/>
        <parameter name="@requestDatetime" layout="${event-properties:item=requestDatetime}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile"/>
      <logger name="*" minlevel="Trace" writeTo="dbTarget"/>
    </rules>
    <!--<logger name="*" minlevel="Error" writeTo="eventlog" />-->
  </nlog>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MessagingSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="MessagingSoap1"/>
        <binding name="MociLicensesServiceProxyWebServiceSoap"/>
        <binding name="PAIProxyServiceSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="MessagingSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.smsbox.com/smsgateway/services/messaging.asmx" binding="basicHttpBinding" bindingConfiguration="MessagingSoap" contract="SMSBox.MessagingSoap" name="MessagingSoap"/>
      <endpoint address="https://www.smsbox.com/smsgateway/services/messaging.asmx" binding="customBinding" bindingConfiguration="MessagingSoap12" contract="SMSBox.MessagingSoap" name="MessagingSoap12"/>
      <endpoint address="http://kca2tkp2/KGACMOCIServices/MociLicensesService.asmx" binding="basicHttpBinding" bindingConfiguration="MociLicensesServiceProxyWebServiceSoap" contract="MociLicensesService.MociLicensesServiceProxyWebServiceSoap" name="MociLicensesServiceProxyWebServiceSoap"/>
      <endpoint address="http://kca2tkp2/KGACPAIPROXYSVR/PAIProxyService.asmx" binding="basicHttpBinding" bindingConfiguration="PAIProxyServiceSoap" contract="PAIProxyService.PAIProxyServiceSoap" name="PAIProxyServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>